In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sales_data_sample.csv', encoding = "latin")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [4]:
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [5]:
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [6]:
df = df.drop('ADDRESSLINE2', axis=1)

In [7]:
df.drop('STATE', axis=1)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,"Oulu Toy Supplies, Inc.",981-443655,Torikatu 38,Oulu,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,Alpha Cognac,61.77.6555,1 rue Alsace-Lorraine,Toulouse,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,Gifts4AllAges.com,6175559555,8616 Spinnaker Dr.,Boston,51003,USA,NaN,Yoshido,Juri,Medium

In [8]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE'],
      dtype='object')

In [9]:
df['ADDRESSLINE1'].unique()

array(['897 Long Airport Avenue', "59 rue de l'Abbaye",
       '27 rue du Colonel Pierre Avia', '78934 Hillside Dr.',
       '7734 Strong St.', '9408 Furth Circle', '184, chausse de Tournai',
       'Drammen 121, PR 744 Sentrum', '5557 North Pendale Street',
       '25, rue Lauriston', '636 St Kilda Road', '2678 Kingston Rd.',
       '7476 Moss Rd.', '25593 South Bay Ln.',
       '67, rue des Cinquante Otages', '39323 Spinnaker Dr.',
       'Keskuskatu 45', 'Erling Skakkes gate 78', '7586 Pompton St.',
       'Geislweg 14', 'Monitor Money Building, 815 Pacific Hwy',
       '1785 First Street', 'Berkeley Gardens 12  Brewery',
       'C/ Moralzarzal, 86', 'Berguvsv\x84gen  8', 'C/ Araquil, 67',
       'Bronz Sok., Bronz Apt. 3/6 Tesvikiye', '5905 Pompton St.',
       '31 Duncan St. West End', '782 First Street', '2, rue du Commerce',
       '1900 Oak St.', '3675 Furth Circle', '4658 Baden Av.',
       '567 North Pendale Street', '2-2-8 Roppongi',
       'Via Monte Bianco 34', '?kergatan 24', "67, avenue de l'Europe",
       '5677 Strong St.', '2304 Long Airport Avenue', '7825 Douglas Av.',
       '201 Miller Street', '43 rue St. Laurent',
       'Dojima Avanza 4F, 1-6-20 Dojima, Kita-ku', '11328 Douglas Av.',
       '54, rue Royale', '3758 North Pendale Street', "Vinb'ltet 34",
       '35 King George', '4575 Hillside Dr.', '1 rue Alsace-Lorraine',
       '120 Hanover Sq.', 'Rambla de Catalu¤a, 23', '6047 Douglas Av.',
       '361 Furth Circle', 'Rue Joseph-Bens 532', '23 Tsawassen Blvd.',
       '8616 Spinnaker Dr.', 'Garden House Crowther Way', 'Torikatu 38',
       '3086 Ingle Ln.', '265, boulevard Charonne', 'Kirchgasse 6',
       '6251 Ingle Ln.', 'Village Close - 106 Linden Road Sandown',
       '15 McCallum Street - NatWest Center #13-03',
       '12, rue des Bouchers', 'Mehrheimerstr. 369', 'Grenzacherweg 237',
       'Strada Provinciale 124', '7635 Spinnaker Dr.', 'Lyonerstr. 34',
       'Software Engineering Center, SEC Oy', '4092 Furth Circle',
       '25 Maiden Lane', "Merchants House, 27-30 Merchant's Quay",
       'Fauntleroy Circus', 'Smagsloget 45', '5290 North Pendale Street',
       '4097 Douglas Av.', 'C/ Romero, 33', '2793 Furth Circle',
       '24, place Kluber', '8489 Strong St.',
       'Drammensveien 126 A, PB 744 Sentrum', 'Via Ludovico il Moro 22',
       '7 Allen Street', '2440 Pompton St.', 'Hansastr. 15',
       'Boulevard Tirou, 255', '16780 Pompton St.'], dtype=object)

In [10]:
df['CITY'].unique()

array(['NYC', 'Reims', 'Paris', 'Pasadena', 'San Francisco', 'Burlingame',
       'Lille', 'Bergen', 'Melbourne', 'Newark', 'Bridgewater', 'Nantes',
       'Cambridge', 'Helsinki', 'Stavern', 'Allentown', 'Salzburg',
       'Chatswood', 'New Bedford', 'Liverpool', 'Madrid', 'Lule',
       'Singapore', 'South Brisbane', 'Philadelphia', 'Lyon', 'Vancouver',
       'Burbank', 'New Haven', 'Minato-ku', 'Torino', 'Boras',
       'Versailles', 'San Rafael', 'Nashua', 'Brickhaven', 'North Sydney',
       'Montreal', 'Osaka', 'White Plains', 'Kobenhavn', 'London',
       'Toulouse', 'Barcelona', 'Los Angeles', 'San Diego', 'Bruxelles',
       'Tsawassen', 'Boston', 'Cowes', 'Oulu', 'San Jose', 'Graz',
       'Makati City', 'Marseille', 'Koln', 'Gensve', 'Reggio Emilia',
       'Frankfurt', 'Espoo', 'Dublin', 'Manchester', 'Aaarhus',
       'Glendale', 'Sevilla', 'Brisbane', 'Strasbourg', 'Las Vegas',
       'Oslo', 'Bergamo', 'Glen Waverly', 'Munich', 'Charleroi'],
      dtype=object)

In [11]:
df['COUNTRY'].unique()

array(['USA', 'France', 'Norway', 'Australia', 'Finland', 'Austria', 'UK',
       'Spain', 'Sweden', 'Singapore', 'Canada', 'Japan', 'Italy',
       'Denmark', 'Belgium', 'Philippines', 'Germany', 'Switzerland',
       'Ireland'], dtype=object)

In [12]:
import time
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

ModuleNotFoundError: No module named 'geopy'

In [ ]:
df.fillna(method='ffill', inplace=True)

C:\Users\SS Computer\AppData\Local\Temp\ipykernel_15932\3970806690.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [ ]:
# df.fillna(df['TERRITORY'].mean() , axis=1)
df['TERRITORY'].fillna(df['TERRITORY'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [ ]:
len(df[df['CITY'].str.contains('Paris')].index)

70

In [ ]:
df['STATUS'].value_counts()

Shipped       2617
Cancelled       60
Resolved        47
On Hold         44
In Process      41
Disputed        14
Name: STATUS, dtype: int64

In [ ]:
df[df['CITY'] == 'Paris']

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NY,75508,France,EMEA,Da Cunha,Daniel,Medium
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,(1) 47.55.6555,"25, rue Lauriston",Paris,CA,75016,France,EMEA,Perrier,Dominique,Medium
56,10134,27,100.00,5,3307.77,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Victoria,75508,France,EMEA,Da Cunha,Daniel,Medium
78,10402,45,100.00,1,5833.80,4/7/2005 0:00,Shipped,2,4,2005,...,(1) 47.55.6555,"25, rue Lauriston",Paris,MA,75016,France,EMEA,Perrier,Dominique,Medium
82,10134,31,100.00,4,7023.98,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Victoria,75508,France,EMEA,Da Cunha,Daniel,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440,10211,40,80.55,10,3222.00,1/15/2004 0:00,Shipped,1,1,2004,...,(1) 47.55.6555,"25, rue Lauriston",Paris,NSW,75016,France,EMEA,Perrier,Dominique,Medium
2443,10252,48,72.41,7,3475.68,5/26/2004 0:00,Shipped,2,5,2004,...,(1) 47.55.6555,"25, rue Lauriston",Paris,NY,75016,France,EMEA,Perrier,Dominique,Medium
2452,10356,26,100.00,4,3937.70,12/9/2004 0:00,Shipped,4,12,2004,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,PA,75508,France,EMEA,Da Cunha,Daniel,Medium
2615,10114,42,100.00,10,4758.18,4/1/2003 0:00,Shipped,2,4,2003,...,(1) 42.34.2555,"265, boulevard Charonne",Paris,MA,75012,France,EMEA,Bertrand,Marie,Medium
2634,10336,46,100.00,2,9558.80,11/20/2004 0:00,Shipped,4,11,2004,...,(1) 42.34.2555,"265, boulevard Charonne",Paris,NY,75012,France,EMEA,Bertrand,Marie,Large

In [ ]:
df[(df['CITY'] == 'Paris') & (df['STATUS']=='Shipped')]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,EMEA,Da Cunha,Daniel,Medium
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,Auto Canal Petit,(1) 47.55.6555,"25, rue Lauriston",Paris,75016,France,EMEA,Perrier,Dominique,Medium
56,10134,27,100.00,5,3307.77,7/1/2003 0:00,Shipped,3,7,2003,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,EMEA,Da Cunha,Daniel,Medium
78,10402,45,100.00,1,5833.80,4/7/2005 0:00,Shipped,2,4,2005,...,Auto Canal Petit,(1) 47.55.6555,"25, rue Lauriston",Paris,75016,France,EMEA,Perrier,Dominique,Medium
82,10134,31,100.00,4,7023.98,7/1/2003 0:00,Shipped,3,7,2003,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,EMEA,Da Cunha,Daniel,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440,10211,40,80.55,10,3222.00,1/15/2004 0:00,Shipped,1,1,2004,...,Auto Canal Petit,(1) 47.55.6555,"25, rue Lauriston",Paris,75016,France,EMEA,Perrier,Dominique,Medium
2443,10252,48,72.41,7,3475.68,5/26/2004 0:00,Shipped,2,5,2004,...,Auto Canal Petit,(1) 47.55.6555,"25, rue Lauriston",Paris,75016,France,EMEA,Perrier,Dominique,Medium
2452,10356,26,100.00,4,3937.70,12/9/2004 0:00,Shipped,4,12,2004,...,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,EMEA,Da Cunha,Daniel,Medium
2615,10114,42,100.00,10,4758.18,4/1/2003 0:00,Shipped,2,4,2003,...,"La Corne D'abondance, Co.",(1) 42.34.2555,"265, boulevard Charonne",Paris,75012,France,EMEA,Bertrand,Marie,Medium
2634,10336,46,100.00,2,9558.80,11/20/2004 0:00,Shipped,4,11,2004,...,"La Corne D'abondance, Co.",(1) 42.34.2555,"265, boulevard Charonne",Paris,75012,France,EMEA,Bertrand,Marie,Large

In [ ]:
df['ADDRESSLINE1']
df['CITY']

0                 NYC
1               Reims
2               Paris
3            Pasadena
4       San Francisco
            ...
2818           Madrid
2819             Oulu
2820           Madrid
2821         Toulouse
2822           Boston
Name: CITY, Length: 2823, dtype: object

In [ ]:
df['Naya Column'] = df['ADDRESSLINE1'] + ',' + ' ' + df['CITY']

In [ ]:
df.head(3)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,Naya Column
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,10022,USA,NaN,Yu,Kwai,Small,"897 Long Airport Avenue, NYC"
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,EMEA,Henriot,Paul,Small,"59 rue de l'Abbaye, Reims"
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,EMEA,Da Cunha,Daniel,Medium,"27 rue du Colonel Pierre Avia, Paris"

In [ ]:
df.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [ ]:
df["POSTALCODE"].fillna(df["POSTALCODE"].mode()[0], inplace=True)

C:\Users\SS Computer\AppData\Local\Temp\ipykernel_15448\3035184300.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["POSTALCODE"].fillna(df["POSTALCODE"].mode()[0], inplace=True)